.text-container__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.text-container__image,
.text-container__logo {
  max-width: 80%;
}

.features-section__headline {
  margin-bottom: 2rem;
}

.features-section__details {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
}

.features-section__extra {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  margin-left: 8rem;
  margin-right: 4rem;
  height: 100%;
}
