/** @format */

@import "variables";

/* Root font-size for rem scaling */
:root {
    font-size: 16px; /* Default browser size */
}

@font-face {
    font-family: "Poppins";
    src: url(../assets/fonts/Poppins/Poppins-Regular.ttf) format("ttf"),
        url(../assets/fonts/Poppins/Poppins-Medium.ttf) format("ttf"),
        url(../assets/fonts/Poppins/Poppins-MediumItalic.ttf) format("ttf"),
        url(../assets/fonts/Poppins/Poppins-Bold.woff) format("ttf");
}

@font-face {
    font-family: "Poppins";
    font-style: bold;
    font-weight: 700;
    font-display: swap;
    src: url(../assets/fonts/Poppins/Poppins-Bold.ttf) format("ttf");
}

// Global Styles
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: rgba(0, 0, 0, 0.85);
    scroll-behavior: smooth;
}
